@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes moveSquare {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-65vh) rotate(360deg);
            transform: translateY(-65vh) rotate(360deg);
    border-radius: 50%;
    opacity: 0;
  }
}

@keyframes moveSquare {
  0% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
  }
  100% {
    -webkit-transform: translateY(-65vh) rotate(360deg);
            transform: translateY(-65vh) rotate(360deg);
    border-radius: 50%;
    opacity: 0;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: white;
}

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 10vh;
  min-height: 80px;
  -ms-flex-preferred-size: 10vh;
      flex-basis: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .logo {
  position: absolute;
  left: 5vw;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  z-index: 10;
}

header .option {
  position: absolute;
  right: 10vw;
}

header.active {
  background-color: #222;
}

header .option ul {
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

header .option ul li {
  margin: 10px;
  font-size: 18px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header .option ul li:hover {
  color: #fca311;
}

header .option ul.active {
  opacity: 1;
}

header .option ul li {
  display: inline;
  cursor: pointer;
  font-weight: 700;
}

li a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: white;
}

li a:hover {
  color: #fca311;
}

.hamburger {
  display: none;
  z-index: 10;
}

.fa-times {
  display: none;
  font-size: 35px;
}

.hamburger.active .fa-times {
  display: block;
}

.hamburger.active .fa-bars {
  display: none;
}

aside {
  display: none;
  z-index: 2;
}

.slider .foto {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider .foto img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-animation: appear .8s linear 7.2s reverse, appear .8s linear;
          animation: appear .8s linear 7.2s reverse, appear .8s linear;
}

.slider .ringBox {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .ringBox .oneRing {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
  -webkit-transition: .6s linear;
  transition: .6s linear;
  opacity: .6;
}

.slider .ringBox .oneRing.active {
  background-color: darkred;
}

.slider .arrowRight, .slider .arrowLeft {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80px;
  height: 180px;
  opacity: .6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 66px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.slider .arrowLeft {
  left: 0;
}

.slider .arrowLeft:hover, .slider .arrowRight:hover {
  opacity: 0.8;
}

.toUp {
  position: fixed;
  right: 0;
  top: 75%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.836);
  border: 2px solid rgba(255, 255, 255, 0.842);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 15;
}

.toUp.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.aboutMe {
  -ms-flex-preferred-size: 140vh;
      flex-basis: 140vh;
  min-height: 1700px;
  position: relative;
  background-color: black;
  color: #c7c6c6;
}

.aboutMe .firstElement {
  position: relative;
  width: 100%;
  height: 90vh;
}

.aboutMe .firstElement .leftSide {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 50%;
  height: 65vh;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 25px;
}

.aboutMe .firstElement .leftSide p {
  margin: 5px;
  padding: 5px;
}

.aboutMe .firstElement .leftSide .sectionHeader {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  min-width: 20%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: 42px;
}

.aboutMe .firstElement .leftSide .sectionHeader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background-color: darkred;
  z-index: -1;
}

.aboutMe .firstElement .rightSide {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 30%;
  height: 80vh;
  overflow: hidden;
}

.aboutMe .firstElement .rightSide img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.aboutMe .awards {
  position: relative;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutMe .awards .leftSide {
  position: relative;
  width: 30%;
  height: 40vh;
  overflow: hidden;
  margin: 50px;
}

.aboutMe .awards .leftSide img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.aboutMe .awards .rightSide {
  position: relative;
  width: 30%;
  height: 40vh;
  overflow: hidden;
  margin: 50px;
}

.aboutMe .awards .rightSide img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.gallery {
  -ms-flex-preferred-size: 100vh;
      flex-basis: 100vh;
  min-height: 800px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(#3b3b3b), to(#adb5bd));
  background-image: linear-gradient(black, #3b3b3b, #adb5bd);
}

.gallery .sectionHeader {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 8%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: 42px;
}

.gallery .sectionHeader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background-color: darkred;
  z-index: -1;
}

.gallery .container {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery .container .galleryFoto {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  height: 32vh;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .container .galleryFoto img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  min-height: 100%;
  min-width: 100%;
}

.gallery .container .galleryFoto:nth-child(1) {
  -ms-flex-preferred-size: 36%;
      flex-basis: 36%;
}

.gallery .container .galleryFoto:nth-child(2) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.gallery .container .galleryFoto:nth-child(3) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.gallery .container .galleryFoto:nth-child(4) {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.gallery .container .galleryFoto:nth-child(5) {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.gallery .container .galleryFoto:nth-child(6) {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.gallery .container .galleryFoto:hover {
  -webkit-box-shadow: 0px 0px 5px dimgray;
          box-shadow: 0px 0px 5px dimgray;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-preferred-size: 60vh;
      flex-basis: 60vh;
  min-height: 400px;
  background-color: #adb5bd;
}

.contact .contactText {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 35%;
  height: 40vh;
  font-size: 36px;
  font-weight: 700;
}

.contact .contactText .sectionHeader {
  position: absolute;
  left: 5%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  min-width: 20%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: 42px;
}

.contact .contactText .sectionHeader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background-color: darkred;
  z-index: -1;
}

.contact .contactText span {
  color: #495057;
}

.contact .contactPanel {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 40%;
  height: 40vh;
  background-color: #222;
  -webkit-box-shadow: 15px 15px 0 white;
          box-shadow: 15px 15px 0 white;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 15;
}

.contact .contactPanel input {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 30px 0;
  width: 80%;
  height: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 4px solid black;
}

.contact .contactPanel textarea {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-height: 50%;
  min-width: 80%;
  max-width: 90%;
  max-height: 50%;
  font-size: 16px;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 4px solid black;
}

.contact .contactPanel button {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 50px;
  border: 4px solid black;
  background-color: white;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
}

.contact .contactPanel input:focus, .contact .contactPanel textarea:focus {
  outline: none;
}

.contact .contactPanel:hover {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
  -webkit-box-shadow: 0px 0px 0 white;
          box-shadow: 0px 0px 0 white;
}

.contact .square {
  width: 5vw;
  height: 5vw;
  min-width: 40px;
  min-height: 40px;
  border: 10px solid white;
  position: absolute;
  top: 100%;
  left: 70%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-animation: moveSquare 10s ease-in-out infinite;
          animation: moveSquare 10s ease-in-out infinite;
}

.contact .square:nth-child(3) {
  left: 5%;
  -webkit-animation: moveSquare 10s 1s ease-in-out infinite;
          animation: moveSquare 10s 1s ease-in-out infinite;
}

.contact .square:nth-child(4) {
  left: 20%;
}

.contact .square:nth-child(5) {
  left: 35%;
  -webkit-animation: moveSquare 10s 2s ease-in-out infinite;
          animation: moveSquare 10s 2s ease-in-out infinite;
}

.contact .square:nth-child(6) {
  left: 85%;
  -webkit-animation: moveSquare 10s 1s ease-in-out infinite;
          animation: moveSquare 10s 1s ease-in-out infinite;
}

.contact .square:nth-child(7) {
  left: 15%;
  -webkit-animation: moveSquare 10s 5s ease-in-out infinite;
          animation: moveSquare 10s 5s ease-in-out infinite;
}

.contact .square:nth-child(8) {
  left: 55%;
  -webkit-animation: moveSquare 10s 4s ease-in-out infinite;
          animation: moveSquare 10s 4s ease-in-out infinite;
}

footer {
  -ms-flex-preferred-size: 15vh;
      flex-basis: 15vh;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #222;
  font-size: 18px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}

footer span {
  opacity: .6;
}

footer .footerTriangle {
  position: absolute;
  top: 0;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #adb5bd;
}

footer span i {
  margin: 10px;
  cursor: pointer;
  font-size: 26px;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

footer span i:hover {
  color: #fca311;
}

footer span.name {
  font-size: 24px;
}

footer span.fcknBoss {
  font-size: 14px;
}

footer span a {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media (max-width: 1580px) {
  .aboutMe .firstElement .leftSide {
    line-height: 20px;
  }
}

@media (max-width: 1200px) {
  .aboutMe .firstElement .leftSide {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
  }
  .aboutMe .firstElement .rightSide {
    display: none;
  }
  .aboutMe .awards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutMe .awards .leftSide {
    max-width: 500px;
    width: 90%;
  }
  .aboutMe .awards .rightSide {
    max-width: 500px;
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .gallery {
    -ms-flex-preferred-size: 200vh;
        flex-basis: 200vh;
  }
  .gallery .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 90%;
  }
  .gallery .container .galleryFoto {
    -ms-flex-preferred-size: 10vh;
        flex-basis: 10vh;
    width: 100%;
  }
}

@media (max-width: 860px) {
  .hamburger {
    display: block;
    position: absolute;
    font-size: 30px;
    right: 10vw;
    cursor: pointer;
  }
  header .logo {
    font-size: 26px;
  }
  header .option {
    display: none;
  }
  aside {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: #222;
    -webkit-transform: translateY(-250px);
            transform: translateY(-250px);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  aside ul {
    display: block;
    width: 100%;
    margin-top: 12%;
  }
  aside ul li {
    display: block;
    list-style-type: none;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: 100%;
    text-transform: uppercase;
  }
  aside.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .slider .arrowRight, .slider .arrowLeft {
    width: 60px;
    height: 140px;
    font-size: 46px;
  }
  .aboutMe {
    -ms-flex-preferred-size: 280vh;
        flex-basis: 280vh;
  }
  .aboutMe .firstElement {
    height: 180vh;
  }
  .aboutMe .firstElement .leftSide {
    height: 140vh;
  }
  .contact .contactText {
    font-size: 26px;
  }
  footer {
    font-size: 13px;
  }
  footer span.fcknBoss {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */