@-webkit-keyframes shakeThisBaby {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  89% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  91% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  92% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  93% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  94% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  95% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  96% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  97% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  98% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  99% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shakeThisBaby {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  89% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  91% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  92% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  93% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  94% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  95% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  96% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  97% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  98% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  99% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: white;
}

header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 10vh;
  min-height: 80px;
  -ms-flex-preferred-size: 10vh;
      flex-basis: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .logo {
  position: absolute;
  left: 5vw;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  z-index: 10;
}

header .option {
  position: absolute;
  right: 10vw;
}

header.active {
  background-color: #212529;
}

header .option ul {
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

header .option ul li {
  margin: 10px;
  font-size: 18px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header .option ul li:hover {
  color: #fca311;
}

header .option ul.active {
  opacity: 1;
}

header .option ul li {
  display: inline;
  cursor: pointer;
  font-weight: 700;
}

li a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  color: white;
}

li a:hover {
  color: #fca311;
}

.hamburger {
  display: none;
  z-index: 10;
}

.fa-times {
  display: none;
  font-size: 35px;
}

.hamburger.active .fa-times {
  display: block;
}

.hamburger.active .fa-bars {
  display: none;
}

aside {
  display: none;
  z-index: 2;
}

.slider .foto {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider .foto img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-animation: appear .8s linear 7.2s reverse, appear .8s linear;
          animation: appear .8s linear 7.2s reverse, appear .8s linear;
}

.slider .ringBox {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .ringBox .oneRing {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px white;
          box-shadow: 0px 0px 5px white;
  -webkit-transition: .6s linear;
  transition: .6s linear;
  opacity: .6;
}

.slider .ringBox .oneRing.active {
  background-color: darkred;
}

.slider .arrowRight, .slider .arrowLeft {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 80px;
  height: 180px;
  background-color: black;
  opacity: .4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 58px;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.slider .arrowLeft {
  left: 0;
}

.slider .arrowLeft:hover, .slider .arrowRight:hover {
  opacity: 0.8;
}

.toUp {
  position: fixed;
  right: 0;
  top: 75%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.836);
  border: 2px solid rgba(255, 255, 255, 0.842);
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 15;
}

.toUp.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.aboutMe {
  -ms-flex-preferred-size: 230vh;
      flex-basis: 230vh;
  min-height: 1800px;
  position: relative;
  background-color: #f8f9fa;
  color: #495057;
}

.aboutMe .firstElement {
  width: 50%;
  height: 20vh;
  position: absolute;
  top: 20%;
  margin: 50px;
  display: inline-block;
}

.aboutMe .firstElement .thick {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 40px;
  height: 40px;
  background-color: #495057;
}

.aboutMe .firstElement .white {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-top: 10px solid #f8f9fa;
  border-left: 10px solid #f8f9fa;
  border-right: 5px solid #f8f9fa;
  border-bottom: 5px solid #f8f9fa;
  background-color: darkred;
}

.aboutMe .firstElement .firstElementText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  font-weight: 700;
  text-align: center;
}

.aboutMe .firstElement .close {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 40px;
  height: 40px;
  background-color: #495057;
}

.aboutMe .firstElement .close2 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: #f8f9fa;
}

.aboutMe .firstFoto {
  position: absolute;
  right: 11%;
  top: 10%;
  width: 400px;
  height: 600px;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 10px 10px 0 rgba(53, 52, 52, 0.747);
          box-shadow: 10px 10px 0 rgba(53, 52, 52, 0.747);
}

.aboutMe .firstFoto img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.aboutMe .secondsFoto {
  position: absolute;
  left: 11%;
  top: 45%;
  width: 600px;
  height: 400px;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: -10px 10px 0 rgba(53, 52, 52, 0.747);
          box-shadow: -10px 10px 0 rgba(53, 52, 52, 0.747);
}

.aboutMe .secondsFoto img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.aboutMe .secondsElement {
  width: 40%;
  height: 30vh;
  position: absolute;
  top: 45%;
  right: 0%;
  margin: 50px;
  display: inline-block;
}

.aboutMe .secondsElement .thick {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 40px;
  height: 40px;
  background-color: #495057;
}

.aboutMe .secondsElement .white {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-top: 10px solid #f8f9fa;
  border-right: 10px solid #f8f9fa;
  border-left: 5px solid #f8f9fa;
  border-bottom: 5px solid #f8f9fa;
  background-color: darkred;
}

.aboutMe .secondsElement .firstElementText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  font-weight: 700;
  text-align: center;
}

.aboutMe .secondsElement .close {
  position: absolute;
  left: 0%;
  bottom: 0%;
  width: 40px;
  height: 40px;
  background-color: #495057;
}

.aboutMe .secondsElement .close2 {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: #f8f9fa;
}

.aboutMe .thirdElement {
  width: 40%;
  height: 20vh;
  position: absolute;
  top: 72%;
  left: 0%;
  margin: 50px;
  display: inline-block;
}

.aboutMe .thirdElement .thick {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 40px;
  height: 40px;
  background-color: #495057;
}

.aboutMe .thirdElement .white {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-top: 10px solid #f8f9fa;
  border-left: 10px solid #f8f9fa;
  border-right: 5px solid #f8f9fa;
  border-bottom: 5px solid #f8f9fa;
  background-color: darkred;
}

.aboutMe .thirdElement .firstElementText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  font-weight: 700;
  text-align: center;
}

.aboutMe .thirdElement .close {
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 40px;
  height: 40px;
  background-color: #495057;
}

.aboutMe .thirdElement .close2 {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 40px;
  height: 40px;
  background-color: #f8f9fa;
}

.aboutMe .thirdFoto {
  position: absolute;
  right: 11%;
  top: 70%;
  width: 600px;
  height: 400px;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 10px 10px 0 rgba(53, 52, 52, 0.747);
          box-shadow: 10px 10px 0 rgba(53, 52, 52, 0.747);
}

.aboutMe .thirdFoto img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

.gallery {
  -ms-flex-preferred-size: 100vh;
      flex-basis: 100vh;
  min-height: 800px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f9fa), color-stop(#3b3b3b), to(#adb5bd));
  background-image: linear-gradient(#f8f9fa, #3b3b3b, #adb5bd);
}

.gallery .partText {
  top: 3%;
}

.gallery .container {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery .container .galleryFoto {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  height: 32vh;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery .container .galleryFoto img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  min-height: 100%;
  min-width: 100%;
}

.gallery .container .galleryFoto:nth-child(1) {
  -ms-flex-preferred-size: 36%;
      flex-basis: 36%;
}

.gallery .container .galleryFoto:nth-child(2) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.gallery .container .galleryFoto:nth-child(3) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.gallery .container .galleryFoto:nth-child(4) {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.gallery .container .galleryFoto:nth-child(5) {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

.gallery .container .galleryFoto:nth-child(6) {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.gallery .container .galleryFoto:hover {
  -webkit-box-shadow: 0px 0px 10px #0f0f0f;
          box-shadow: 0px 0px 10px #0f0f0f;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.partText {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.partText span {
  display: inline-block;
  width: 10px;
  height: 25px;
  margin: 0 4px;
  background-color: darkred;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-preferred-size: 60vh;
      flex-basis: 60vh;
  min-height: 400px;
  background-color: #adb5bd;
}

.contact .partText {
  font-size: 46px;
}

.contact .partText span {
  height: 30px;
}

.contact .contactText {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}

.contact .contactText span {
  color: #495057;
}

.contact .contactText button {
  height: 60px;
  width: 140px;
  margin: 40px;
  cursor: pointer;
  background-color: white;
  border: 4px solid #495057;
  text-transform: uppercase;
  color: #495057;
  font-weight: 700;
  font-size: 22px;
  -webkit-animation: shakeThisBaby 10s ease-in-out infinite;
          animation: shakeThisBaby 10s ease-in-out infinite;
}

.contact .contactText button:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

footer {
  -ms-flex-preferred-size: 10vh;
      flex-basis: 10vh;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #212529;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

footer span {
  opacity: .6;
}

footer .footerTriangle {
  position: absolute;
  top: 0;
  left: 10%;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #adb5bd;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media (max-width: 860px) {
  .hamburger {
    display: block;
    position: absolute;
    font-size: 30px;
    right: 10vw;
    cursor: pointer;
  }
  header .logo {
    font-size: 26px;
  }
  header .option {
    display: none;
  }
  aside {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    height: 35vh;
    background-color: #212529;
    -webkit-transform: translateY(-35vh);
            transform: translateY(-35vh);
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    text-align: center;
  }
  aside ul {
    display: block;
    width: 100%;
    margin-top: 12%;
  }
  aside ul li {
    display: block;
    list-style-type: none;
    cursor: pointer;
    margin: 10px;
    font-size: 18px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: 100%;
    text-transform: uppercase;
  }
  aside.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .slider .arrowRight, .slider .arrowLeft {
    width: 60px;
    height: 140px;
    font-size: 46px;
  }
  .contact .contactText {
    font-size: 26px;
  }
  .contact .partText {
    font-size: 32px;
  }
  .contact .partText span {
    height: 20px;
  }
  .aboutMe .firstElement, .aboutMe .secondsElement, .aboutMe .thirdElement {
    width: 100%;
    font-size: 16px;
    height: 35vh;
    left: -4%;
  }
  footer {
    font-size: 13px;
  }
}

@media (max-width: 1400px) {
  .aboutMe .secondsElement, .aboutMe .thirdElement {
    width: 35%;
    height: 40vh;
  }
}

@media (max-width: 1240px) {
  .aboutMe .firstElement, .aboutMe .secondsElement, .aboutMe .thirdElement {
    height: 40vh;
    width: 85%;
  }
  .aboutMe .firstFoto, .aboutMe .secondsFoto, .aboutMe .thirdFoto {
    display: none;
  }
}

@media (max-width: 1024px) {
  .gallery {
    -ms-flex-preferred-size: 200vh;
        flex-basis: 200vh;
  }
  .gallery .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery .container .galleryFoto {
    -ms-flex-preferred-size: 10vh;
        flex-basis: 10vh;
  }
}

@media (max-height: 400px) {
  aside {
    height: 40vh;
    -webkit-transform: translateY(-40vh);
            transform: translateY(-40vh);
  }
}

@media (max-width: 860px) {
  .aboutMe .secondsElement, .aboutMe .thirdElement, .aboutMe .firstElement {
    width: 85%;
    height: 55vh;
    font-size: 15px;
  }
  .secondsElement {
    left: 0;
  }
  .thick, .white, .close {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */