@keyframes shakeThisBaby
{
    0%
    {
        transform: translateX(0);
    }

    89%
    {
        transform: translateX(0);
    }
    90%
    {
        transform: translateX(-15px);
    }
    91%
    {
        transform: translateX(15px);
    }
    92%
    {
        transform: translateX(-15px);
    }
    93%
    {
        transform: translateX(15px);
    }
    94%
    {
        transform: translateX(-15px);
    }
    95%
    {
        transform: translateX(15px);
    }
    96%
    {
        transform: translateX(-15px);
    }
    97%
    {
        transform: translateX(15px);
    }
    98%
    {
        transform: translateX(-15px);
    }
    99%
    {
        transform: translateX(15px);
    }
    100%
    {
        transform: translateX(0);
    }
}

@keyframes appear
{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@keyframes moveSquare
{
    0%{
        transform:translateY(0) rotate(0);
    }
    100%{
        transform: translateY(-65vh) rotate(360deg);
        border-radius:50%;
        opacity:0;
    }
}