@media (max-width:860px)
{
    .hamburger 
    {
        display: block;
        position: absolute;
        font-size: 30px;
        right: 10vw;
        cursor: pointer;
    }

    header .logo
    {
        font-size:26px;
    }

    header .option
    {
        display:none;
    }

    aside
    {
        position:fixed;
        @include makeCenter();
        flex-direction: column;
        //flex-basis:10%;
        top:0;
        left:0;
        right:0;
        height:35vh;
        background-color:#212529;
        transform:translateY(-35vh);
        transition: 0.5s ease-in-out;
        text-align:center;
        ul{
            display: block;
            width: 100%;
            margin-top: 12%;
            li{
                display: block;
                list-style-type: none;
                cursor: pointer;
                margin: 10px;
                font-size: 18px;
                transition: 0.2s ease-in-out;
                width: 100%;
                text-transform: uppercase;
            }
        }
    }

    aside.active
    {
        transform: translateY(0);
    }

    .slider
    {
        .arrowRight,.arrowLeft{
            width:60px;
            height:140px;
            font-size:46px;
        }
    }

    .contact .contactText
    {
        font-size:26px;
    }

    .contact .partText
    {
        font-size: 32px;
        span{
            height:20px;
        }
    }

    .aboutMe .firstElement
    {
        width:100%;
        font-size:16px;
        height:35vh;
    }

    .galery
    {
        flex-direction: column;
        flex-basis:130vh;
        .galleryFoto
        {
            flex-basis:20vh;
            width:90%;
        }
    }

    footer
    {
        font-size:13px;
    }
}

@media (max-width:1400px)
{
    .aboutMe .secondsElement, .aboutMe .thirdElement
    {
        width:35%;
        height:40vh;
    }
}

@media (max-width:1240px)
{
    .aboutMe .firstElement, .aboutMe .secondsElement, .aboutMe .thirdElement
    {
        height:40vh;
        width:85%;
    }

    .aboutMe .firstFoto, .aboutMe .secondsFoto, .aboutMe .thirdFoto
    {
        display:none;
    }
}

@media (max-height:400px)
{
    aside
    {
        height:40vh;
        transform:translateY(-40vh);
    }
}

@media (max-width:860px)
{
    .aboutMe .secondsElement, .aboutMe .thirdElement,.aboutMe .firstElement
    {
        width:85%;
        height:50vh;
        font-size:14px;
    }

    .aboutMe .thirdElement
    {
        height:35vh;
    }

    .aboutMe .firstElement
    {
        height:55vh;
    }
}