@media (max-width:1580px)
{
    .aboutMe
    {
        .firstElement
        {
            .leftSide{
                line-height:20px;
            }
        }
    }
}

@media(max-width:1200px)
{
    .aboutMe
    {
        .firstElement
        {
            .leftSide{
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
                width:80%;
            }
            .rightSide{
                display:none;
            }
        }
        .awards
        {
            flex-direction: column;
            align-items: center;
            .leftSide{
                max-width:500px;
                width:90%;
            }
            .rightSide{
                max-width:500px;
                width:90%;
            }
        }
    }
}

@media (max-width:1024px)
{
    .gallery 
    {
        flex-basis:200vh;
        .container{
            flex-direction: column;
            flex-wrap: nowrap;
            width:90%;
            .galleryFoto
            {
                flex-basis: 10vh;
                width:100%;
            }
        }
    }
}

@media (max-width:860px)
{
    .hamburger 
    {
        display: block;
        position: absolute;
        font-size: 30px;
        right: 10vw;
        cursor: pointer;
    }

    header .logo
    {
        font-size:26px;
    }

    header .option
    {
        display:none;
    }

    aside
    {
        position:fixed;
        @include makeCenter();
        flex-direction: column;
        //flex-basis:10%;
        top:0;
        left:0;
        right:0;
        height:250px;
        background-color:#222;
        transform:translateY(-250px);
        transition: 0.5s ease-in-out;
        text-align:center;
        ul{
            display: block;
            width: 100%;
            margin-top: 12%;
            li{
                display: block;
                list-style-type: none;
                cursor: pointer;
                margin: 10px;
                font-size: 18px;
                transition: 0.2s ease-in-out;
                width: 100%;
                text-transform: uppercase;
            }
        }
    }

    aside.active
    {
        transform: translateY(0);
    }

    .slider
    {
        .arrowRight,.arrowLeft{
            width:60px;
            height:140px;
            font-size:46px;
        }
    }

    .aboutMe
    {
        flex-basis:280vh;
        .firstElement{
            height:180vh;
            .leftSide{
                height:140vh;
            }
        }
    }

    .contact .contactText
    {
        font-size:26px;
    }

    footer
    {
        font-size:13px;
        span.fcknBoss
        {
            font-size:10px;
        }
    }
}