$activeRing: darkred;
$header: #222;
$activeLi: #fca311;
// $aboutMe: #f8f9fa;
$aboutMe: black;
$partTextSpan: darkred;
$gallery: linear-gradient(black,rgb(59, 59, 59),#adb5bd);
$contact: #adb5bd;
$footer: #222;