@import "_functions.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: white;
}

header
{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 10vh; 
    min-height: 80px;
    flex-basis: 10vh;
    @include makeCenter();
    background-color: transparent; // zmienia sie na transparent ( a raczej na początku jest)
    transition: 0.4s ease-in-out;
    .logo{
        position: absolute;
        left: 5vw;
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        z-index:10;
    }
    .option{
        position: absolute;
        right: 10vw;
    }
}

header.active
{
    background-color:#e63946;
}

header .option ul
{
    text-transform: uppercase;
    opacity: 0;
    transition: 0.5s ease-in;
}

header .option ul li
{
    margin: 10px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

header .option ul li:hover
{
    color:#fca311;
}


header .option ul.active
{
    opacity: 1;
}

header .option ul li
{
    display: inline;
    cursor: pointer;
    font-weight: 700;
}

li a
{
    transition: 0.2s ease-in-out;
    color:white;
}

li a:hover
{
    color:#fca311;
}
.hamburger
{
    display: none;
    z-index:10;
}

.fa-times
{
    display:none;
    font-size:35px;
}

.hamburger.active .fa-times
{
    display:block;
}

.hamburger.active .fa-bars
{
    display:none;
}

aside{
    display:none;
    z-index:2;
}

.foto
{
    height: 100vh;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: auto;
        min-width: 100%;
        min-height: 100%;
    }
}

.toUp
{
    position: fixed;
    right: 0;
    top: 75%;
    transform: translateX(100%);
    transition: .4s ease-in-out;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.836);
    border: 2px solid rgba(255, 255, 255, 0.842);
    font-size: 30px;
    @include makeCenter();
    cursor: pointer;
}

.toUp.active
{
    transform: translateX(0);
}

.aboutMe
{
    flex-basis:70vh;
    @include makeCenter();
    background-color: #f1faee;
}

.galery
{
    flex-basis: 70vh;
    @include makeCenter();
    background-color: #a8dadc;
}

.contact
{
    flex-basis: 50vh;
    @include makeCenter();
    background-color: #457b9d;
}

footer
{
    flex-basis: 10vh;
    min-height:50px;
    @include makeCenter();
    background-color: #1d3557;
    font-size:24px;
    position:relative;
    overflow:hidden;
}

.line
{
    position:absolute;
    right:-20px;
    bottom:20px;
    width:120px;
    height:5px;
    background-color:white;
    transform:rotate(-40deg);
    box-shadow: 10px 10px 0px white;
}



@media (max-width:860px)
{
    .hamburger 
    {
        display: block;
        position: absolute;
        font-size: 30px;
        right: 10vw;
        cursor: pointer;
    }

    header .logo
    {
        font-size:26px;
    }

    header .option
    {
        display:none;
    }

    footer
    {
        font-size:16px;
    }

    aside
    {
        position:fixed;
        @include makeCenter();
        flex-direction: column;
        flex-basis:10%;
        top:0;
        left:0;
        right:0;
        height:35vh;
        background-color:black;
        transform:translateY(-35vh);
        transition: 0.5s ease-in-out;
        text-align:center;
        ul{
            display: block;
            width: 100%;
            margin-top: 15%;
            li{
                display: block;
                list-style-type: none;
                cursor: pointer;
                margin: 10px;
                font-size: 18px;
                transition: 0.2s ease-in-out;
                width: 100%;
                text-transform: uppercase;
            }
        }
    }

    aside.active
    {
        transform: translateY(0);
    }
}