@import "_functions.scss";
@import "_animations.scss";
@import "_variable.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: white;
}

header
{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 10vh; 
    min-height: 80px;
    flex-basis: 10vh;
    @include makeCenter();
    background-color: transparent; // zmienia sie na transparent ( a raczej na początku jest)
    transition: 0.4s ease-in-out;
    .logo{
        position: absolute;
        left: 5vw;
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        z-index:10;
    }
    .option{
        position: absolute;
        right: 10vw;
    }
}

header.active
{
    background-color: $header;
}

header .option ul
{
    text-transform: uppercase;
    opacity: 0;
    transition: 0.5s ease-in;
}

header .option ul li
{
    margin: 10px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

header .option ul li:hover
{
    color: $activeLi;
}


header .option ul.active
{
    opacity: 1;
}

header .option ul li
{
    display: inline;
    cursor: pointer;
    font-weight: 700;
}

li a
{
    transition: 0.2s ease-in-out;
    color:white;
}

li a:hover
{
    color:#fca311;
}
.hamburger
{
    display: none;
    z-index:10;
}

.fa-times
{
    display:none;
    font-size:35px;
}

.hamburger.active .fa-times
{
    display:block;
}

.hamburger.active .fa-bars
{
    display:none;
}

aside{
    display:none;
    z-index:2;
}

.slider
{
    .foto
    {
        height: 100vh;
        overflow: hidden;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            min-width: 100%;
            min-height: 100%;
            animation: appear .8s linear 7.2s reverse, appear .8s linear;
        }
    }
    .ringBox
    {
        position: absolute;
        bottom:5%;
        left:50%;
        transform: translateX(-50%);
        width:200px;
        height:50px;
        display:flex;
        justify-content:space-around;
        align-items: center;
        .oneRing
        {
            height:20px;
            width:20px;
            border-radius:50%;
            background-color:white;
            box-shadow:0px 0px 5px white;
            transition: .6s linear;
            opacity:.6;
        }

        .oneRing.active
        {
            background-color: $activeRing;
        }
    }
    .arrowRight,.arrowLeft
    {
        position:absolute;
        top:50%;
        right:0;
        transform:translateY(-50%);
        width:80px;
        height:180px;
        background-color:black;
        opacity:.4;
        @include makeCenter;
        font-size:58px;
        cursor:pointer;
        transition: .2s ease-in-out;
    }
    .arrowLeft
    {
        left:0;
    }

    .arrowLeft:hover, .arrowRight:hover
    {
        opacity:0.8;
    }
}

.toUp
{
    position: fixed;
    right: 0;
    top: 75%;
    transform: translateX(100%);
    transition: .4s ease-in-out;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.836);
    border: 2px solid rgba(255, 255, 255, 0.842);
    font-size: 30px;
    @include makeCenter();
    cursor: pointer;
    z-index: 15;
}

.toUp.active
{
    transform: translateX(0);
}

.aboutMe
{
    flex-basis:230vh;
    min-height: 1800px;
    position:relative;
    background-color: $aboutMe;
    color:#495057;
    .firstElement
    {
        //border: 2px solid black;
        width:50%;
        height:20vh;
        position:absolute;
        top:20%;
        margin:50px;
        display:inline-block;
        .thick
        {
            position:absolute;
            top:0%;
            left:0%;
            width:40px;
            height:40px;
            background-color:#495057;
        }
        .white
        {
            position:absolute;
            top:5px;
            left:5px;
            width:40px;
            height:40px;
            border-top:10px solid #f8f9fa;
            border-left:10px solid #f8f9fa;
            border-right:5px solid #f8f9fa;
            border-bottom:5px solid #f8f9fa;
            background-color: darkred;
        }

        .firstElementText
        {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:80%;
            font-weight:700;
            text-align: center;
        }

        .close
        {
            position:absolute;
            right:0%;
            bottom:0%;
            width:40px;
            height:40px;
            background-color:#495057;
        }

        .close2
        {
            position:absolute;
            right:5px;
            bottom:5px;
            width:40px;
            height:40px;
            background-color: #f8f9fa;
        }
    }
    .firstFoto
    {
        position:absolute;
        right:11%;
        top:10%;
        //border:2px solid black;
        width:400px;
        height:600px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        box-shadow: 10px 10px 0 rgba(53, 52, 52, 0.747);
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }
    }

    .secondsFoto
    {
        position:absolute;
        left:11%;
        top:45%;
        //border:2px solid black;
        width:600px;
        height:400px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        box-shadow: -10px 10px 0 rgba(53, 52, 52, 0.747);
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }
    }

    .secondsElement
    {
        width:40%;
        height:30vh;
        position:absolute;
        top:45%;
        right:0%;
        margin:50px;
        display:inline-block;
        //border:2px solid black;
        .thick
        {
            position:absolute;
            top:0%;
            right:0%;
            width:40px;
            height:40px;
            background-color:#495057;
        }
        .white
        {
            position:absolute;
            top:5px;
            right:5px;
            width:40px;
            height:40px;
            border-top:10px solid #f8f9fa;
            border-right:10px solid #f8f9fa;
            border-left:5px solid #f8f9fa;
            border-bottom:5px solid #f8f9fa;
            background-color: darkred;
        }

        .firstElementText
        {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:80%;
            font-weight:700;
            text-align: center;
        }

        .close
        {
            position:absolute;
            left:0%;
            bottom:0%;
            width:40px;
            height:40px;
            background-color:#495057;
        }

        .close2
        {
            position:absolute;
            left:5px;
            bottom:5px;
            width:40px;
            height:40px;
            background-color: #f8f9fa;
        }
    }

    .thirdElement
    {
        width:40%;
        height:20vh;
        position:absolute;
        top:72%;
        left:0%;
        margin:50px;
        display:inline-block;
        //border:2px solid black;
        .thick
        {
            position:absolute;
            top:0%;
            left:0%;
            width:40px;
            height:40px;
            background-color:#495057;
        }
        .white
        {
            position:absolute;
            top:5px;
            left:5px;
            width:40px;
            height:40px;
            border-top:10px solid #f8f9fa;
            border-left:10px solid #f8f9fa;
            border-right:5px solid #f8f9fa;
            border-bottom:5px solid #f8f9fa;
            background-color: darkred;
        }

        .firstElementText
        {
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:80%;
            font-weight:700;
            text-align: center;
        }

        .close
        {
            position:absolute;
            right:0%;
            bottom:0%;
            width:40px;
            height:40px;
            background-color:#495057;
        }

        .close2
        {
            position:absolute;
            right:5px;
            bottom:5px;
            width:40px;
            height:40px;
            background-color: #f8f9fa;
        }
    }
    .thirdFoto
    {
        position:absolute;
        right:11%;
        top:70%;
        width:600px;
        height:400px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        box-shadow: 10px 10px 0 rgba(53, 52, 52, 0.747);
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.galery
{
    flex-basis: 90vh;
    min-height:800px;
    position:relative;
    // background-color: #dee2e6;
    background-image: $gallery;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .galleryFoto{
        height:70vh;
        flex-basis:20%;
        margin:10px;
        overflow: hidden;
        cursor:pointer;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }
        span.krajobraz,span.makro,span.przyroda,span.szczytno,span.ślub
        {
            position: absolute;
            bottom:0%;
            width:100%;
            height:7vh;
            background-color:black;
            text-transform: capitalize;
            opacity:.8;
            transition: .3s ease-in-out;
            transform:translateY(7vh);
            @include makeCenter();
        }
    }
    .partText
    {
        top:3%;
    }
}

#firstGalleryFoto:hover span.krajobraz
{
    transform:translateY(0);
}

#secondGalleryFoto:hover span.makro
{
    transform:translateY(0);
}

#firstGalleryFoto:hover span.przyroda
{
    transform:translateY(0);
}

#firstGalleryFoto:hover span.szczytno
{
    transform:translateY(0);
}

#firstGalleryFoto:hover span.ślub
{
    transform:translateY(0);
}

.partText
{
    font-size:36px;
    font-weight:700;
    text-transform: capitalize;
    position:absolute;
    top:5%;
    left:50%;
    transform: translateX(-50%);
}

.partText span
{
    display:inline-block;
    width:10px;
    height:25px;
    margin:0 4px;
    background-color: $partTextSpan;
}

.contact
{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    flex-basis: 60vh;
    min-height:400px;
    background-color: $contact;
}

.contact .partText
{
    font-size: 46px;
    span{
        height:30px;
    }
}

.contact .contactText
{
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    font-size:36px;
    font-weight: 700;
    span{
        color:#495057;
    }
    button{
        //padding:15px;
        height:60px;
        width:140px;
        margin:40px;
        cursor: pointer;
        background-color: white;
        border: 4px solid #495057;
        text-transform: uppercase;
        color:#495057;
        font-weight:700;
        font-size:22px;
        animation: shakeThisBaby 10s ease-in-out infinite;
    }
    button:hover
    {
        animation-play-state: paused;
    }
}

footer
{
    flex-basis: 10vh;
    min-height:50px;
    @include makeCenter();
    background-color: $footer;
    font-size:18px;
    position:relative;
    overflow:hidden;
    span{
        opacity: .6;
    }
    .footerTriangle
    {
        position:absolute;
        top:0;
        left:10%;
        width: 0; 
        height: 0; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #adb5bd;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover
{
    background-color:#555;
}

@import "_media.scss";