@import "_functions.scss";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    color: white;
}

header
{
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 10vh; 
    min-height: 80px;
    flex-basis: 10vh;
    @include makeCenter();
    background-color: transparent; // zmienia sie na transparent ( a raczej na początku jest)
    transition: 0.4s ease-in-out;
    .logo{
        position: absolute;
        left: 5vw;
        font-size: 42px;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        z-index:10;
    }
    .option{
        position: absolute;
        right: 10vw;
    }
}

header.active
{
    background-color:#212529;
}

header .option ul
{
    text-transform: uppercase;
    opacity: 0;
    transition: 0.5s ease-in;
}

header .option ul li
{
    margin: 10px;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

header .option ul li:hover
{
    color:#fca311;
}


header .option ul.active
{
    opacity: 1;
}

header .option ul li
{
    display: inline;
    cursor: pointer;
    font-weight: 700;
}

li a
{
    transition: 0.2s ease-in-out;
    color:white;
}

li a:hover
{
    color:#fca311;
}
.hamburger
{
    display: none;
    z-index:10;
}

.fa-times
{
    display:none;
    font-size:35px;
}

.hamburger.active .fa-times
{
    display:block;
}

.hamburger.active .fa-bars
{
    display:none;
}

aside{
    display:none;
    z-index:2;
}

.foto
{
    height: 100vh;
    overflow: hidden;
    position: relative;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: auto;
        min-width: 100%;
        min-height: 100%;
        animation: appear .8s linear 7.2s reverse, appear .8s linear;
    }
}

.toUp
{
    position: fixed;
    right: 0;
    top: 75%;
    transform: translateX(100%);
    transition: .4s ease-in-out;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.836);
    border: 2px solid rgba(255, 255, 255, 0.842);
    font-size: 30px;
    @include makeCenter();
    cursor: pointer;
    z-index: 15;
}

.toUp.active
{
    transform: translateX(0);
}

.aboutMe
{
    flex-basis:90vh;
    position:relative;
    background-color: #f8f9fa;
    color:#222;
}


.galery
{
    flex-basis: 90vh;
    position:relative;
    background-color: #dee2e6;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .galleryFoto{
        height:60vh;
        flex-basis:20%;
        border:1px solid black;
        margin:50px;
        overflow: hidden;
        //cursor:pointer;
        position: relative;
        &:hover{
            cursor: pointer;  //tu do galeri hover
            
        }
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.partText
{
    font-size:36px;
    font-weight:700;
    text-transform: capitalize;
    position:absolute;
    top:5%;
    left:50%;
    transform: translateX(-50%);
}

.partText span
{
    display:inline-block;
    width:10px;
    height:25px;
    margin:0 4px;
    background-color:#495057;
}

.contact
{
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    flex-basis: 60vh;
    min-height:400px;
    background-color: #adb5bd;
}

.contact .partText
{
    font-size: 46px;
    span{
        height:30px;
    }
}

.contact .contactText
{
    width:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    font-size:36px;
    font-weight: 700;
    span{
        color:#495057;
    }
    button{
        //padding:15px;
        height:60px;
        width:140px;
        margin:40px;
        cursor: pointer;
        background-color: white;
        border: 4px solid #495057;
        text-transform: uppercase;
        color:#495057;
        font-weight:700;
        font-size:22px;
        animation: shakeThisBaby 10s ease-in-out infinite;
    }
    button:hover
    {
        animation-play-state: paused;
    }
}

footer
{
    flex-basis: 10vh;
    min-height:50px;
    @include makeCenter();
    background-color: #212529;
    font-size:18px;
    position:relative;
    overflow:hidden;
    span{
        opacity: .6;
    }
}

@media (max-width:860px)
{
    .hamburger 
    {
        display: block;
        position: absolute;
        font-size: 30px;
        right: 10vw;
        cursor: pointer;
    }

    header .logo
    {
        font-size:26px;
    }

    header .option
    {
        display:none;
    }

    footer
    {
        font-size:16px;
    }

    aside
    {
        position:fixed;
        @include makeCenter();
        flex-direction: column;
        //flex-basis:10%;
        top:0;
        left:0;
        right:0;
        height:35vh;
        background-color:black;
        transform:translateY(-35vh);
        transition: 0.5s ease-in-out;
        text-align:center;
        ul{
            display: block;
            width: 100%;
            margin-top: 12%;
            li{
                display: block;
                list-style-type: none;
                cursor: pointer;
                margin: 10px;
                font-size: 18px;
                transition: 0.2s ease-in-out;
                width: 100%;
                text-transform: uppercase;
            }
        }
    }

    aside.active
    {
        transform: translateY(0);
    }

    .contact .contactText
    {
        font-size:26px;
    }

    .contact .partText
    {
        font-size: 32px;
        span{
            height:20px;
        }
    }
}

@media (max-height:400px)
{
    aside
    {
        height:40vh;
        transform:translateY(-40vh);
    }
}

@keyframes shakeThisBaby
{
    0%
    {
        transform: translateX(0);
    }

    89%
    {
        transform: translateX(0);
    }
    90%
    {
        transform: translateX(-15px);
    }
    91%
    {
        transform: translateX(15px);
    }
    92%
    {
        transform: translateX(-15px);
    }
    93%
    {
        transform: translateX(15px);
    }
    94%
    {
        transform: translateX(-15px);
    }
    95%
    {
        transform: translateX(15px);
    }
    96%
    {
        transform: translateX(-15px);
    }
    97%
    {
        transform: translateX(15px);
    }
    98%
    {
        transform: translateX(-15px);
    }
    99%
    {
        transform: translateX(15px);
    }
    100%
    {
        transform: translateX(0);
    }
}

@keyframes appear
{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}